<section id="result" class="{{weather.key}}">
    <h2>{{name}}</h2>
    <div class="picto">

    </div>
    <h3>{{weather.description}}</h3>

    <div>
        <section class="sunrise">
            Sunrise
            <span></span>
            {{sunrise}}
        </section>
        <section class="sunset">
            {{sunset}}<span></span>Sunset
        </section>
    </div>
    <div>
        <section class="temperature">
            <div>Temperature</div>
            {{temperature}}
        </section>
        <section class="humidity">
            <div>Humidity</div>
            {{humidity}}
        </section>
    </div>
</section>